body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #03cbf8;
}

header {
    background: #2c3e50;
    padding: 15px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
}

header nav a:hover {
    text-decoration: underline;
}

main {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.card {
    background: rgb(4, 197, 232);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
    flex: 1;
    text-align: center;
}

.auth-container {
    max-width: 400px;
    margin: 100px auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
}

.auth-container h1 {
    text-align: center;
}

.auth-container input, .auth-container button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.auth-container button {
    background: #2c3e50;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.auth-container button:hover {
    background: #34495e;
}
